/* .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: map-get($schema, primary);
} */


.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: #000000;
    text-align: center;

    &__title {
        font-size: 32px;
        margin-bottom: 10px;
    }

    &__error {
        color: red;
        margin-bottom: 10px;
    }

    &__form {
        width: 30%;
        padding: 20px;
        box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.5);
        margin-bottom: 30px;

        &__item {
            display: flex;
            flex-direction: column;
            margin: 20px 0;

            &__input {
                padding: 10px;
                background-color: gray;
                margin-top: 5px;
            }

            &__button {
                background-color: #000000;
                color: aliceblue;
                width: 100%;
                padding: 10px;
            }

            &__google {
                width: 100%;
                text-align: center;
                margin-top: 20px;
            }
        }
    }

    &__link {
        a {
            color: blue;
            font-weight: bold;
        }
    }
}